/*--------------------------------------------------------------------------*/
/*                                 BASE                                     */
/*--------------------------------------------------------------------------*/


/*
 * Root
 */

// Root Size
@root-size: 10px;
@root-size-xlarge: @root-size;
@root-size-large: @root-size;
@root-size-medium: @root-size;
@root-size-small: @root-size - 1;
@root-size-xsmall: @root-size - 1;


/*
 * Global
 */

// Border Radius
@border-radius: 2px;

// Z-Index
@z-index-high: 999;
@z-index-medium: 99;
@z-index-low: 9;

// Animation
@animation-fast: 0.5s;
@animation-medium: 1s;
@animation-slow: 2s;

// Transition
@transition-fast: 0.2s;
@transition-medium: 0.3s;
@transition-slow: 0.5s;

// Height
@height-xlarge: 6.0rem;
@height-large: 5.0rem;
@height-medium: 4.4rem;
@height-small: 3.6rem;
@height-xsmall: 2.4rem;

// Margin
@margin-xlarge: 8.0rem;
@margin-large: 5.0rem;
@margin-medium: 3.5rem;
@margin-small: 2.0rem;
@margin-xsmall: 1.5rem;

// Padding
@padding-xlarge: 8.0rem;
@padding-large: 5.0rem;
@padding-medium: 3.5rem;
@padding-small: 2.0rem;
@padding-xsmall: 1.5rem;

// Max Width
@max-width-xlarge: 128rem;
@max-width-large: 100rem;
@max-width-medium: 80rem;
@max-width-small: 60rem;
@max-width-xsmall: 48rem;


/*
 * Body
 */

// Body
@body-font-family: @regular-font-family;
@body-font-weight: @regular-font-weight; 
@body-color: @grey;
@body-line-height: @line-height-medium;
@body-letter-spacing: 0.03rem;
@body-background: @white;


/*
 * Breakpoints
 */

// Screen Sizes
@screen-xsmall: 480px;
@screen-xsmall-max: (@screen-small-min - 1);
@screen-small: 768px;
@screen-small-min: @screen-small;
@screen-small-max: (@screen-medium-min - 1);
@screen-medium: 1024px;
@screen-medium-min: @screen-medium;
@screen-medium-max: (@screen-large-min - 1);
@screen-large: 1280px;
@screen-large-min: @screen-large;
@screen-large-max: (@screen-xlarge-min - 1);
@screen-xlarge: 1680px;
@screen-xlarge-min: @screen-xlarge;


/*
 * Media Queries
 */

// Orientation
@portrait: ~"(orientation: portrait)";
@landscape: ~"(orientation: landscape)";

// Breakpoints
@xsmall: ~"(max-width: @{screen-xsmall-max})";
@small: ~"(min-width: @{screen-small-min}) and (max-width: @{screen-small-max})";
@small-up: ~"(min-width: @{screen-small-min})";
@small-down: ~"(max-width: @{screen-small-max})";
@medium: ~"(min-width: @{screen-medium-min}) and (max-width: @{screen-medium-max})";
@medium-up: ~"(min-width: @{screen-medium-min})";
@medium-down: ~"(max-width: @{screen-medium-max})";
@large: ~"(min-width: @{screen-large-min}) and (max-width: @{screen-large-max})";
@large-up: ~"(min-width: @{screen-large-min})";
@large-down: ~"(max-width: @{screen-large-max})";
@xlarge: ~"(min-width: @{screen-xlarge})";

// Retina
@retina: ~"only screen and (-webkit-min-device-pixel-ratio: 1.5)",
~"only screen and (min--moz-device-pixel-ratio: 1.5)",
~"only screen and (-o-min-device-pixel-ratio: 3/2)",
~"only screen and (min-device-pixel-ratio: 1.5)";

// IE Media Queries
@ie6-7: screen\9;
@ie8: \0screen;
@oldIE: ~"@{ie8}\,@{ie6-7}";
@ie9-10: ~"screen and (min-width:0\0)";


/*
 * Colors
 */

//Shades
@white: #FFFFFF;
@black: #000000;
@light-grey: #DDD;
@grey: #555;
@dark-grey: #333;

//Indicators
@info: #1E90FF;
@error: #D91E18;
@warning: #FF4500;
@success: #00AA00;

//Palette
@light: #FAFAFC;
@dark: #222;
@primary: #3455DB;
@secondary: #663399;
@tertiary: #8B008B;

//Utility
@inverse: @dark;


/*
 * Images
 */

//Image
@image-rounded-border-radius: 8px;


/*
 * Print
 */

// Print Page
@print-page-size: A4;
@print-page-margin: 1.5cm 2cm;


/*--------------------------------------------------------------------------*/
/*                              TYPOGRAPHY                                  */
/*--------------------------------------------------------------------------*/


/*
 * Fonts
 */

// Fonts
@font-path: '../fonts';
@sans-serif-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
@serif-font-family: Georgia, "Times New Roman", Times, serif;
@monospace-font-family: Monaco, Menlo, Consolas, "Courier New", monospace;

// Generic Font Families
@thin-font-family: @sans-serif-font-family;
@regular-font-family: @sans-serif-font-family;
@medium-font-family: @sans-serif-font-family;
@semibold-font-family: @sans-serif-font-family;
@bold-font-family: @sans-serif-font-family;

// Generic Font Weights
@thin-font-weight: 300;
@regular-font-weight: 400;
@medium-font-weight: 500;
@semibold-font-weight: 600;
@bold-font-weight: 700;

// Font Sizes
@font-size-xlarge: 2.0;
@font-size-large: 1.8;
@font-size-medium: 1.6;
@font-size-small: 1.4;
@font-size-xsmall: 1.2;

// Line height
@line-height-xlarge: 1.8;
@line-height-large: 1.65;
@line-height-medium: 1.5;
@line-height-small: 1.35;
@line-height-xsmall: 1.2;


/*
 * Links
 */

// Link
@link-color: @primary;
@link-text-decoration: none;

// Link Hover
@link-hover-color: @dark;
@link-hover-decoration: underline;


/*
 * Headings
 */

// Headings
@headings-margin: 0 0 1em 0;
@headings-font-family: @medium-font-family;
@headings-font-weight: @medium-font-weight;
@headings-color: @dark-grey;
@headings-line-height: @line-height-small;

// Headings Small
@headings-small-font-family: @medium-font-family;
@headings-small-font-weight: @medium-font-weight;
@headings-small-size: 0.6em;
@headings-small-color: @grey;

// Heading Font Sizes
@h1-font-size: 3.2;
@h2-font-size: 2.4;
@h3-font-size: 2.0;
@h4-font-size: 1.8;
@h5-font-size: 1.6;
@h6-font-size: 1.4;


/*
 * Strong
 */

// Strong
@strong-font-family: @bold-font-family;
@strong-font-weight: @bold-font-weight;

/*
 * Emphasis
 */

// Emphasis
@em-font-style: italic;


/*
 * Paragraph
 */

// Paragraph
@paragraph-margin: 2rem 0;
@paragraph-font-family: @regular-font-family;
@paragraph-font-weight: @regular-font-weight;
@paragraph-font-size: @font-size-medium;
@paragraph-color: @body-color;
@paragraph-line-height: @line-height-medium;


/*
 * Lead
 */

// Lead
@lead-margin: 0 0 2rem 0;
@lead-font-family: @thin-font-family;
@lead-font-weight: @thin-font-weight;
@lead-font-size: @font-size-large;
@lead-color: @body-color;
@lead-line-height: @line-height-medium;


/*
 * Horizontal Rule
 */

// Horizontal Rule
@hr-margin: 3rem auto;
@hr-height: 1px;
@hr-background: @light-grey;


/*
 * Blockquote
 */

// Blockquote
@blockquote-margin: 3rem 0;
@blockquote-padding: 0 2rem;

// Blockquote Quote
@blockquote-quote-margin: 0;
@blockquote-quote-font-family: @lead-font-family;
@blockquote-quote-font-weight: @lead-font-weight;
@blockquote-quote-font-size: @lead-font-size;
@blockquote-quote-font-style: normal;
@blockquote-quote-line-height: @line-height-medium;
@blockquote-quote-color: @body-color;

// Blockquote Cite
@blockquote-cite-margin: 1rem 0;
@blockquote-cite-font-family: @regular-font-family;
@blockquote-cite-font-weight: @regular-font-family;
@blockquote-cite-font-size: @font-size-medium;
@blockquote-cite-font-style: normal;
@blockquote-cite-color: @blockquote-quote-color;
@blockquote-cite-text-align: left;


/*
 * Pullout
 */

// Pullout
@pullout-margin: @blockquote-margin;
@pullout-padding: @blockquote-padding;
@pullout-font-family: @blockquote-quote-font-family;
@pullout-font-weight: @blockquote-quote-font-weight;
@pullout-font-size: @blockquote-quote-font-size;
@pullout-color: @blockquote-quote-color;
@pullout-border: solid @primary;
@pullout-border-width: 0 0 0 0.4rem;


/*
 * List
 */

// List
@list-margin: 2rem 0;
@list-padding: 0;

// Lists Item
@list-item-margin: 1rem 0 1rem 2rem;
@list-item-padding: 0 0 0 0.5rem;
@list-item-font-family: @paragraph-font-family;
@list-item-font-weight: @paragraph-font-weight;
@list-item-font-size: @paragraph-font-size;
@list-item-color: @paragraph-color;
@list-item-line-height: @paragraph-line-height;

// Child List
@child-list-margin: 1rem 0;
@child-list-padding: 0;
@child-list-item-margin: @list-item-margin;

// Unordered List
@unordered-list-icon: disc;
@unordered-child-list-icon: disc;


/*
 * Definition List
 */

// Definition List
@definition-list-margin: @list-margin;
@definition-list-padding: 0;

// Definition Term
@definition-term-margin: 1rem 0;
@definition-term-font-family: @semibold-font-family;
@definition-term-font-weight: @semibold-font-weight;
@definition-term-font-size: @font-size-medium;
@definition-term-color: @paragraph-color;

// Definition Description
@definition-description-margin: 0 0 2rem 0;
@definition-description-font-family: @regular-font-family;
@definition-description-font-weight: @regular-font-weight;
@definition-description-font-size: @font-size-medium;
@definition-description-color: @paragraph-color;


/*
 * Code
 */

// Code
@code-font-family: @monospace-font-family;
@code-font-weight: normal;
@code-font-size: 1.2;
@code-color: @tertiary;


/*
 * Pre
 */

// Pre
@pre-margin: 2rem 0;
@pre-padding: 1rem;
@pre-color: @body-color;
@pre-tab-size: 4;
@pre-hyphens: none;
@pre-line-height: @line-height-medium;
@pre-background: @light;
@pre-border: 1px solid @light-grey;

// Pre Code
@pre-code-color: @code-color;


/*
 * Kbd
 */

// Kbd
@kbd-margin: 0 0.5rem;
@kbd-padding: 0.4rem;
@kbd-font-family: @code-font-family;
@kbd-font-weight: @code-font-weight;
@kbd-font-size: @code-font-size;
@kbd-color: @code-color;
@kbd-background: @pre-background;
@kbd-border: @pre-border;


/*
 * Mark
 */

// Mark
@mark-margin: 0;
@mark-padding: 0.3rem 0.6rem;
@mark-font-family: @paragraph-font-family;
@mark-font-weight: @paragraph-font-weight;
@mark-font-size: @paragraph-font-size;
@mark-color: @paragraph-color;
@mark-background: yellow;
@mark-border: none;
@mark-border-radius: @border-radius;

// Mark Error
@mark-error-color: @white;
@mark-error-background: @error;
@mark-error-border: none;

// Mark Warning
@mark-warning-color: @white;
@mark-warning-background: @warning;
@mark-warning-border: none;

// Mark Success
@mark-success-color: @white;
@mark-success-background: @success;
@mark-success-border: none;

// Mark Info
@mark-info-color: @white;
@mark-info-background: @info;
@mark-info-border: none;


/*--------------------------------------------------------------------------*/
/*                                 GRID                                     */
/*--------------------------------------------------------------------------*/


/*
 * Gutter
 */

// Gutter
@gutter: 1.6rem;
@gutter-xlarge: @gutter;
@gutter-large: @gutter;
@gutter-medium: @gutter;
@gutter-small: @gutter;
@gutter-xsmall: @gutter;


/*
 * Container
 */

// Container
@container-xsmall: 100%;
@container-small: 100%;
@container-medium: 1024px;
@container-large: 1280px;
@container-xlarge: 1440px;


/*
 * Column
 */

// Column
@grid-columns: 12;
@column-1: 100%;
@column-1-2: round(percentage(1/2), 4);
@column-1-3: round(percentage(1/3), 4);
@column-1-4: round(percentage(1/4), 4);
@column-1-5: round(percentage(1/5), 4);
@column-1-6: round(percentage(1/6), 4);
@column-1-7: round(percentage(1/7), 4);
@column-1-8: round(percentage(1/8), 4);
@column-1-9: round(percentage(1/9), 4);
@column-1-10: round(percentage(1/10), 4);
@column-1-11: round(percentage(1/11), 4);
@column-1-12: round(percentage(1/12), 4);


/*--------------------------------------------------------------------------*/
/*                                 FORM                                     */
/*--------------------------------------------------------------------------*/


/*
 * Label
 */

// Label
@label-margin: 1rem 0;
@label-font-family: @regular-font-family;
@label-font-weight: @regular-font-weight;
@label-font-size: @font-size-small;
@label-color: @dark;
@label-line-height: @line-height-medium;


/*
 * Fieldset
 */

// Fieldset
@fieldset-margin: 0;
@fieldset-padding: 2rem;
@fieldset-border: 1px solid @light-grey;

// Feildset Legend
@fieldset-legend-padding: 1rem;
@fieldset-legend-font-size: @font-size-medium;
@fieldset-legend-color: @grey;


/*
 * Form Message
 */

// Form Message
@form-message-margin: @label-margin;
@form-message-font-family: @paragraph-font-family;
@form-message-font-weight: @paragraph-font-weight;
@form-message-font-size: @font-size-small;
@form-message-color: @body-color;
@form-message-line-height: @paragraph-line-height;

// Form Message Indicators
@form-message-error-color: @error;
@form-message-warning-color: @warning;
@form-message-success-color: @success;
@form-message-info-color: @info;


/*
 * Input
 */

// Input
@input-height: @height-medium;
@input-margin: @label-margin;
@input-padding: 0 1.6rem;
@input-color: @body-color;
@input-font-family: @regular-font-family;
@input-font-weight: @regular-font-weight;
@input-font-size: @font-size-medium;
@input-line-height: @line-height-medium;
@input-background: @white;
@input-border: 1px solid @light-grey;
@input-border-radius: @border-radius;

// Input Hover
@input-hover-color: @input-color;
@input-hover-background: darken(@input-background, 2%);
@input-hover-border: 1px solid darken(@light-grey, 10%);

// Input Focus
@input-focus-color: @input-color;
@input-focus-background: darken(@input-background, 2%);
@input-focus-border: 1px solid @info;

// Input Placeholder
@input-placeholder-font-family: @input-font-family;
@input-placeholder-font-size: @input-font-size;
@input-placeholder-color: fade(@input-color, 50%);
@input-placeholder-line-height: @input-line-height;
@input-placeholder-letter-spacing: 0px;
@input-placeholder-text-transform: none;

// Input Inverse
@input-inverse-color: @white;
@input-inverse-background: @inverse;
@input-inverse-border: none;

// Input Inverse Hover
@input-inverse-hover-color: @input-inverse-color;
@input-inverse-hover-background: darken(@input-inverse-background, 2.5%);
@input-inverse-hover-border: @input-inverse-border;

// Input Inverse Focus
@input-inverse-focus-color: @input-inverse-color;
@input-inverse-focus-background: darken(@input-inverse-background, 5%);
@input-inverse-focus-border: @input-focus-border;

// Input Disabled
@input-disabled-color: @light;
@input-disabled-background: @light;
@input-disabled-border: 1px solid darken(@light, 10%);

// Input Search
@input-search-border-radius: 2rem;

// Textarea
@textarea-padding: 1.6rem;
@textarea-line-height: @line-height-medium;


/*
 * Input Sizes
 */

// Input Extra Large
@input-xlarge-padding: 0 3.0rem;
@input-xlarge-height: @height-xlarge;
@input-xlarge-font-size: @font-size-xlarge;

// Input Large
@input-large-padding: 0 2.5rem;
@input-large-height: @height-large;
@input-large-font-size: @font-size-large;

// Input Medium
@input-medium-padding: 0 1.6rem;
@input-medium-height: @input-height;
@input-medium-font-size: @input-font-size;

// Input Small
@input-small-padding: 0 1.2rem;
@input-small-height: @height-small;
@input-small-font-size: @font-size-small;

// Input Extra Small
@input-xsmall-padding: 0 0.8rem;
@input-xsmall-height: @height-xsmall;
@input-xsmall-font-size: @font-size-xsmall;


/*
 * Control
 */

// Control
@control-margin: @input-margin;
@control-padding: 0 0 0 1.5em;
@control-color: @input-color;

// Control Hover
@control-hover-indicator-background: @input-hover-background;
@control-hover-indicator-border: @input-hover-border;

// Control Focus
@control-focus-indicator-box-shadow: 0 0 0 1px @white, 0 0 0 2px @info;

// Control Indicator
@control-indicator-size: 1.6rem;
@control-indicator-color: @primary;
@control-indicator-background: @input-background;
@control-indicator-border: @input-border;

// Control Checked
@control-indicator-checked-background: @primary;
@control-indicator-checked-border: 1px solid @primary;
@control-label-checked-color: @control-label-color;

// Control Label
@control-label-margin: 0 0 0 1rem;
@control-label-font-family: @input-font-family;
@control-label-font-weight: @input-font-weight;
@control-label-font-size: @label-font-size;
@control-label-color: @input-color;
@control-label-line-height: @input-line-height;

// Control Inline
@control-inline-margin-right: 2rem;

// Checkbox
@checkbox-border-radius: none;

// Radio
@radio-border-radius: 50%;


/*
 * Select
 */

// Select
@select-margin: @input-margin;
@select-padding: @input-padding;
@select-height: @input-height;
@select-font-family: @input-font-family;
@select-font-weight: @input-font-weight;
@select-font-size: @input-font-size;
@select-color: @input-color;
@select-line-height: auto;
@select-background: @input-background;
@select-border: @input-border;
@select-border-radius: @border-radius;

// Select Arrow
@select-arrow-size: 0.4rem;
@select-arrow-background: @dark;

// Select Hover
@select-hover-color: @input-hover-color;
@select-hover-background: @input-hover-background;
@select-hover-border: @input-hover-border;

// Select Focus
@select-focus-color: @input-focus-color;
@select-focus-background: @input-focus-background;
@select-focus-border: @input-focus-border;

// Select Inverse
@select-inverse-color: @input-inverse-color;
@select-inverse-border: @input-inverse-border;
@select-inverse-background: @input-inverse-background;
@select-inverse-arrow-background: @white;

// Select Inverse Hover
@select-inverse-hover-color: @input-inverse-hover-color;
@select-inverse-hover-background: @input-inverse-hover-background;
@select-inverse-hover-border: @input-inverse-hover-border;

// Select Inverse Focus
@select-inverse-focus-color: @input-inverse-focus-color;
@select-inverse-focus-background: @input-inverse-focus-background;
@select-inverse-focus-border: @input-inverse-focus-border;


/*
 * Select Sizes
 */

// Select Extra Large
@select-xlarge-padding: @input-xlarge-padding;
@select-xlarge-height: @input-xlarge-height;
@select-xlarge-font-size: @input-xlarge-font-size;

// Select Large
@select-large-padding: @input-large-padding;
@select-large-height: @input-large-height;
@select-large-font-size: @input-large-font-size;

// Select Medium
@select-medium-padding: @select-padding;
@select-medium-height: @select-height;
@select-medium-font-size: @select-font-size;

// Select Small
@select-small-padding: @input-small-padding;
@select-small-height: @input-small-height;
@select-small-font-size: @input-small-font-size;

// Select Extra Small
@select-xsmall-padding: @input-xsmall-padding;
@select-xsmall-height: @input-xsmall-height;
@select-xsmall-font-size: @input-xsmall-font-size;


/*--------------------------------------------------------------------------*/
/*                                ELEMENT                                   */
/*--------------------------------------------------------------------------*/


/*
 * Button
 */

// Button
@button-padding: 1.3rem 2.2rem;
@button-height: @height-medium;
@button-font-family: @medium-font-family;
@button-font-weight: @medium-font-weight;
@button-font-size: @font-size-medium;
@button-color: @dark-grey;
@button-line-height: 1;
@button-letter-spacing: 0.05rem;
@button-text-align: center;
@button-text-transform: none;
@button-background: @white;
@button-border: 1px solid @light-grey;
@button-border-radius: @border-radius;

// Button Hover
@button-hover-color: @dark-grey;
@button-hover-background: darken(@button-background, 10%);
@button-hover-border: 1px solid darken(@light-grey, 10%);

// Button Disabled
@button-disabled-opacity: 0.5;

// Button Block
@button-block-text-align: center;


/*
 * Button Styles
 */

// Button Inverse
@button-inverse-color: @light;
@button-inverse-background: @inverse;
@button-inverse-border: none;
@button-inverse-hover-color: @button-inverse-color;
@button-inverse-hover-background: darken(@button-inverse-background, 10%);
@button-inverse-hover-border: none;

// Button Primary
@button-primary-color: @white;
@button-primary-background: @primary;
@button-primary-border: none;
@button-primary-hover-color: @button-primary-color;
@button-primary-hover-background: darken(@primary, 10%);
@button-primary-hover-border: none;

// Button Secondary
@button-secondary-color: @white;
@button-secondary-background: @secondary;
@button-secondary-border: none;
@button-secondary-hover-color: @button-secondary-color;
@button-secondary-hover-background: darken(@secondary, 10%);
@button-secondary-hover-border: none;

// Button Tertiary
@button-tertiary-color: @white;
@button-tertiary-background: @tertiary;
@button-tertiary-border: none;
@button-tertiary-hover-color: @button-tertiary-color;
@button-tertiary-hover-background: darken(@tertiary, 10%);
@button-tertiary-hover-border: none;

// Button Border
@button-border-color: @dark;
@button-border-border: 1px solid @button-border-color;
@button-border-background: transparent;
@button-border-hover-color: @white;
@button-border-hover-border: 1px solid @button-border-color;
@button-border-hover-background: @button-border-color;

// Button Text
@button-text-color: @dark;
@button-text-hover-color: @primary;


/*
 * Button Indicators
 */

//Button Error
@button-error-color: @white;
@button-error-background: @error;
@button-error-border: none;
@button-error-hover-color: @button-error-color;
@button-error-hover-background: darken(@error, 10%);
@button-error-hover-border: none;

//Button Warning
@button-warning-color: @white;
@button-warning-background: @warning;
@button-warning-border: none;
@button-warning-hover-color: @button-warning-color;
@button-warning-hover-background: darken(@warning, 10%);
@button-warning-hover-border: none;

//Button Success
@button-success-color: @white;
@button-success-background: @success;
@button-success-border: none;
@button-success-hover-color: @button-success-color;
@button-success-hover-background: darken(@success, 10%);
@button-success-hover-border: none;

//Button Info
@button-info-color: @white;
@button-info-background: @info;
@button-info-border: none;
@button-info-hover-color: @button-info-color;
@button-info-hover-background: darken(@button-info-background, 10%);
@button-info-hover-border: none;


/*
 * Button Sizes
 */

// Button Extra Large
@button-xlarge-padding: 1.8rem 3.2rem;
@button-xlarge-height: @height-xlarge;
@button-xlarge-font-size: @font-size-xlarge;

// Button Large
@button-large-padding: 1.4rem 2.8rem;
@button-large-height: @height-large;
@button-large-font-size: @font-size-large;

// Button Medium
@button-medium-padding: @button-padding;
@button-medium-height: @button-height;
@button-medium-font-size: @button-font-size;

// Button Small
@button-small-padding: 1.1rem 1.6rem;
@button-small-height: @height-small;
@button-small-font-size: @font-size-small;

// Button Extra Small
@button-xsmall-padding: 0.6rem 1.2rem;
@button-xsmall-height: @height-xsmall;
@button-xsmall-font-size: @font-size-xsmall;


/*
 * Button Icon
 */

// Button Icon
@button-icon-size: @button-font-size;
@button-icon-fill: @button-color;
@button-icon-left-margin: 1em;
@button-icon-right-margin: 1em;

// Button Icon Styles
@button-icon-inverse-fill: @button-inverse-color;
@button-icon-inverse-hover-fill: @button-inverse-hover-color;
@button-icon-primary-fill: @button-primary-color;
@button-icon-primary-hover-fill: @button-primary-hover-color;
@button-icon-secondary-fill: @button-secondary-color;
@button-icon-secondary-hover-fill: @button-secondary-hover-color;
@button-icon-tertiary-fill: @button-tertiary-color;
@button-icon-tertiary-hover-fill: @button-tertiary-hover-color;
@button-icon-border-fill: @button-border-color;
@button-icon-border-hover-fill: @button-border-hover-color;
@button-icon-text-fill: @button-text-color;
@button-icon-text-hover-fill: @button-text-hover-color;

// Button Icon Indicators
@button-icon-error-fill: @button-error-color;
@button-icon-error-hover-fill: @button-error-hover-color;
@button-icon-warning-fill: @button-warning-color;
@button-icon-warning-hover-fill: @button-warning-hover-color;
@button-icon-success-fill: @button-success-color;
@button-icon-success-hover-fill: @button-success-hover-color;
@button-icon-info-fill: @button-info-color;
@button-icon-info-hover-fill: @button-info-hover-color;

// Button Icon Sizes
@button-icon-xlarge-size: @button-xlarge-font-size;
@button-icon-large-size: @button-large-font-size;
@button-icon-medium-size: @button-medium-font-size;
@button-icon-small-size: @button-small-font-size;
@button-icon-xsmall-size: @button-xsmall-font-size;


/*
 * Figure
 */

// Figure
@figure-display: block;
@figure-margin: 0;
@figure-padding: 1rem;
@figure-border: 1px solid @light-grey;

// Figure Caption
@figure-caption-margin: 1rem 0;
@figure-caption-font-family: @paragraph-font-family;
@figure-caption-font-weight: @paragraph-font-weight;
@figure-caption-font-size: @paragraph-font-size;
@figure-caption-color: @body-color;
@figure-caption-text-align: center;


/*
 * Media
 */

// Media Background
@media-background: @light;


/*
 * Nav
 */

// Nav
@nav-list-margin: 0;
@nav-item-margin: 1rem 0;

// Nav Inline
@nav-inline-item-margin: 0 1rem;


/*
 * Table
 */

// Table
@table-margin: @paragraph-margin;
@table-background: none;
@table-border: 1px solid @light-grey;
@table-border-radius: @border-radius;

// Table Caption
@table-caption-margin: 1rem 0;
@table-caption-font-family: @regular-font-family;
@table-caption-font-weight: @regular-font-weight;
@table-caption-font-size: @font-size-medium;
@table-caption-color: @body-color;
@table-caption-text-align: left;

// Table Head
@table-head-padding: 1rem;
@table-head-font-family: @medium-font-family;
@table-head-font-weight: @medium-font-weight;
@table-head-font-size: @font-size-small;
@table-head-text-align: left;
@table-head-text-transform: none;
@table-head-color: @body-color;
@table-head-border: @table-border;
@table-head-background: @light;

// Table Cell
@table-cell-padding: 1rem;
@table-cell-font-family: @regular-font-family;
@table-cell-font-weight: @regular-font-weight;
@table-cell-font-size: @font-size-small;
@table-cell-color: @body-color;
@table-cell-line-height: @line-height-medium;
@table-cell-vertical-align: middle;
@table-cell-border: @table-border;

// Table Reponsive
@table-responsive-breakpoint: @xsmall;